body {
    margin: 0;
    background-color: rgb(101, 193, 226);
    font-family: "Cabin", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* letter-spacing: -1px;
    word-spacing: -4px; */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
